SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=
SLACK_USER_TOKEN=
SLACK_CHANNEL_ID=C0BKS503D61
SQLITE_PATH=ship-talkers.db
HACKATIME_URL=https://hackatime.hackclub.com
HACKATIME_CLIENT_ID=
HACKATIME_CLIENT_SECRET=
HOST=0.0.0.0
PORT=3000
