SLACK_BOT_TOKEN=
SLACK_CHANNEL_ID=C0BKS503D61
CLICKHOUSE_URL=http://localhost:8123
SQLITE_PATH=ship-talkers.db
HACKATIME_URL=https://hackatime.hackclub.com
HACKATIME_CLIENT_ID=
HACKATIME_CLIENT_SECRET=
