<svg xmlns="http://www.w3.org/2000/svg" width="640" height="420" viewBox="0 0 640 420">
  <style type="text/css">
  {{ css }}
  </style>
  <rect class="bg" x="0" y="0" width="640" height="420" rx="28"/>
  <text class="user" x="320" y="80" text-anchor="middle" style="font-size: {{ user_font_size }}px">{{ user }}</text>
  <text class="headline" x="320" y="142" text-anchor="middle">Time spent on Slack</text>
  <rect class="card" x="190" y="180" width="260" height="150" rx="20"/>
  <text class="slack" x="320" y="267" text-anchor="middle">{{ slack_time }}</text>
</svg>
